In [1]:
#Condition Statements
#if statement:
num = 29
if num > 0:
    print("Number is positive")
    
movie = "Kalki"
if movie == "Kalki":
    print("Kalki is a movie")

#else statement:
num = -29
if num > 0:
    print("Positive number")
else:
    print("Negative number")
    
name = "NTR"
if name == "NTR":
    print("NTR acted in RRR movie")
else:
    print("Not acted in RRR movie")

#elif statement
num = 0
if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

language = "java"
if language == "python":
    print("python is easy")
elif language == "java":
    print("java is complex")
else:
    print("language is something else")

Number is positive
Kalki is a movie
Negative number
NTR acted in RRR movie
Zero
java is complex

In [16]:
#Loop Statements
#While loop:
num = 7
while num > 0:
    print(num)
    num = num - 1

#for loop:
stream = "Development"
for n in stream:
    print(n)

#iterate over a list
colors = ["white", "black", "yellow", "red", "green"]
for color in colors:
    print(color)
#iterate over a range
for score in range (90,99):
    print(score)
#iterate over a dictionary:
employee_company = {"seeta":"microsoft", "geeta":"wipro", "preeti":"tcs"}
for name, company in employee_company.items():
    print(f"{name} works at {company}")
#iterate over a tuple:
score = (10,20,30,40,50)
for num in score:
    doubled_num = num * 2
    print(f"The double of {num} is {doubled_num}")

7
6
5
4
3
2
1
D
e
v
e
l
o
p
m
e
n
t
white
black
yellow
red
green
90
91
92
93
94
95
96
97
98
seeta works at microsoft
geeta works at wipro
preeti works at tcs
The double of 10 is 20
The double of 20 is 40
The double of 30 is 60
The double of 40 is 80
The double of 50 is 100

In [3]:
#Control Statements
#pass:
for a in range(7):
    if a == 3:
        pass
    else:
        print(a)

#break:
for a in range(7):
    if a == 3:
        break
    else:
        print(a)

#continue:
for a in range(7):
    if a == 3:
        continue
    else:
        print(a)

0
1
2
4
5
6
0
1
2
0
1
2
4
5
6

In [4]:
#program to print Even number or Odd number:
number = int(input("Enter a number:"))
if number % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 45

Odd number

In [5]:
#program to find maximum value among 3 digits:
number1 = float(input("Enter first number: "))
number2 = float(input("Enter second number: "))
number3 = float(input("Enter third number: "))
max_value = max(number1, number2, number3)
print("The maximum number is:",max_value)

Enter first number:  30.57
Enter second number:  999
Enter third number:  48

The maximum number is: 999.0

In [6]:
#program to find minimum value among 3 digits:
number1 = float(input("Enter first number: "))
number2 = float(input("Enter second number: "))
number3 = float(input("Enter third number: "))
min_value = min(number1, number2, number3)
print("The minimum number is:",min_value)

Enter first number:  49
Enter second number:  77.77
Enter third number:  4

The minimum number is: 4.0

In [7]:
#program for grading system:
student_marks = float(input("Enter the marks:"))
if student_marks >= 90:
    grade = "A"
elif student_marks >= 80:
    grade = "A+"
elif student_marks >= 70:
    grade = "B"
elif student_marks >= 60:
    grade = "B+"
elif student_marks >= 50:
    grade = "C"
elif student_marks >= 40:
    grade = "C+"
elif student_marks >= 30:
    grade = "D"
else:
    grade = "F"
print("The grade is:", grade)

Enter the marks: 78

The grade is: B