In [ ]:
#int
D = 4
i = 100000
v = 555
y = 0o1
a = 64
s = 1
r = 345
i = 7678
int = 8753
float = -30000

print(D)
print(i)
print(v)
print(y)
print(a)
print(s)
print(r)
print(i)
print(int)
print(float)

4
7678
555
1
64
1
345
7678
8753
-30000

In [ ]:
#float
D = 5.7
i = 8.442
v = 69427.0
y = 10000.56
a = 563.87765
s = 0.00
r = 299.99999999
i = 67.879
int = 300000.00
complex = 1.0

print(D)
print(i)
print(v)
print(y)
print(a)
print(s)
print(r)
print(i)
print(int)
print(complex)

5.7
67.879
69427.0
10000.56
563.87765
0.0
299.99999999
67.879
300000.0
1.0

In [ ]:
#complex
D_ = 8j
i = 578j
v = 689+39.3j
y = 73-65j
a = 45j+38j
s = 0+570000j
r = 3.57+4.2j
i = 309+0j
num = 86+39j+4j
complex = -7455+8874j

print(D_)
print(i)
print(v)
print(y)
print(a)
print(s)
print(r)
print(i)
print(num)
print(complex)

8j
(309+0j)
(689+39.3j)
(73-65j)
83j
570000j
(3.57+4.2j)
(309+0j)
(86+43j)
(-7455+8874j)

In [1]:
#type conversion
#int to float
a = 28
d = float(a)
b = 9876356
i = float(b)
c = 2020202020
v = float(c)
d = -765
y = float(d)
e = 7533
a = float(e)
f = 10875
s = float(f)
g = 98847
r = float(g)
h = 746+434
e = float(h)
i = 4458-63
e = float(i)
j = 7854222
z = float(j)
print(d)
print(i)
print(v)
print(y)
print(a)
print(s)
print(r)
print(e)
print(e)
print(z)

-765
4395
2020202020.0
-765.0
7533.0
10875.0
98847.0
4395.0
4395.0
7854222.0

In [2]:
#float to int
a = 7.86
d = int(a)
b = 10000000.9877
i = int(b)
c = 98.93746
v = int(c)
d = 3847.83827
y = int(d)
e = 9999999.0000
a = int(e)
f = 973+63.76620
s = int(f)
g = 983455.08765431
r = int(g)
h = 746.393+375
i = int(h)
i = 13097-377.88
z = int(i)
j = 785.387-386
y = int(j)
print(d)
print(i)
print(v)
print(y)
print(a)
print(s)
print(r)
print(i)
print(z)
print(y)

3847.83827
12719.12
98
399
9999999
1036
983455
12719.12
12719
399

In [3]:
#int to complex $ float to complex
a = 739
d = complex(a)
b = 13.4387
i = complex(b)
c = 989898
v = complex(c)
d = 3.0
y = complex(d)
e = 3984
a = complex(e)
f = 943.43
s = complex(f)
g = 2347800
r = complex(g)
h = 434343.434343
i = complex(h)
i = 97766
z = complex(i)
j = 7.7
y = complex(j)
print(d)
print(i)
print(v)
print(y)
print(a)
print(s)
print(r)
print(i)
print(z)
print(y)

3.0
97766
(989898+0j)
(7.7+0j)
(3984+0j)
(943.43+0j)
(2347800+0j)
97766
(97766+0j)
(7.7+0j)

In [ ]:
#boolean
print(13 == 3)
print(99 <= 999)
print(4 > 2)
print(32 <= 88)
print(188 < 32)
print(75553 >= 69)
print(556 == 556)
print(29 >= 123)
print(93846 > 8747)
print(10 < 10000)

False
True
True
True
False
True
True
False
True
True