In [1]:
#Arithmetic operators
x = 72
y = 25

#Addition
z = x + y
print(z)

#Subtraction
a = x - y
print(a)

#Multiplication
b = x * y
print(b)

#Division
c = x / y
print(c)

#Exponentiation
d = x ** y
print(d)

#Modulus
e = x % y
print(e)

#Floor division
f = x // y
print(f)

97
47
1800
2.88
27121419161564558068894103990026016011617042432
22
2

In [2]:
#Assignment Operators
x = 379
y = 66
#Assignment
a = 10 
print(a)

#Addition assignment
x += y
print(x)

#Subtraction assignment
x -= y
print(x)

#Multiplication assignment
x *= y
print(x)

#Division assignment
x /= y
print(x)

#Remainder assignment 
x %= y
print(x)

#Exponent assignment
x **= y
print(x)

#Floor division assignment
x //= y
print(x)

10
445
379
25014
379.0
49.0
3.572245368921466e+111
5.412492983214342e+109

In [3]:
#Comparison Operators
a = 33
b = 25

#is equal to 
print('a == b', a == b)

#not equal to
print('a != b', a != b)

#greater than
print('a > b', a > b)

#less than
print('a < b', a < b)

#greater than or equal to
print('a >= b', a >= b)

#less than or equal to 
print('a <= b', a <= b)

a == b False
a != b True
a > b True
a < b False
a >= b True
a <= b False

In [4]:
#Logical Operators
#and
print(555>444 and 555<666)
#or
print(555>666 or 444<555)
#not
d = 77
print(not(d>55 and d<99))
print(not(d<55 and d>99))

True
True
False
True

In [5]:
#identity Operators
a1 = 'Types'
b1 = 'Data Types'
a2 = 77
b2 = 77
print(a1 is not b1)
print(a2 is not b2)
print(b2 is a2)
print(b1 is a1)

True
False
True
False

In [6]:
#Membership Operators
Fullstack = ['python','html', 'css', 'mongodb']
Datascience = ['python','machine learning','excel','powerbi']
print('python' in Fullstack)
print('html' in Datascience)
print('powerbi' not in Datascience)

True
False
False

In [7]:
#Bitwise Operators
x = 56
y = 14

#bitwise and
print(x & y)

#bitwise or
print(x | y)

#bitwise xor
print(x ^ y)

#bitwise not
print(~ x)

#bitwise left shift
print(x << y)

#bitwise right shift
print(x >> y)

8
62
54
-57
917504
0