In [1]:
#creation of set
grade = set(["A","A+","B","B+","C"])
print(grade)

grades = set(["A","A+","A","B+","C","D","C"])
print(grades)

#Add items to a set
stream = {"python", 478, "datascience", "java", "analyst", "devops", 7663}
stream.add(876)
print("added set:", stream)

#Update items 
stream = {"python", 478, "datascience", "java", "analyst", "devops", 7663}
new_stream = {"webdeveloper", "uiux", "powerbi", "uiux"}
update_stream = stream.update(new_stream)
print(stream)

#Remove
stream = {"python", 478, "datascience", "java", "analyst", "devops", 7663}
removedvalue = stream.remove("devops")
print(stream)

removedvalue = stream.discard(478)
print(stream)

{'C', 'A', 'B+', 'B', 'A+'}
{'C', 'A', 'D', 'B+', 'A+'}
added set: {'analyst', 'datascience', 'java', 'python', 'devops', 876, 478, 7663}
{'datascience', 'uiux', 'python', 'devops', 'powerbi', 7663, 'java', 'webdeveloper', 478, 'analyst'}
{'analyst', 'datascience', 'java', 'python', 478, 7663}
{'analyst', 'datascience', 'java', 'python', 7663}

In [2]:
#Set Operations
#union of two sets
sport1 = {"cricket", "Kabbadi", "tennis", 555, 9999, 7}
sport2 = {"carrom", "skipping", "tennis",289, 1000, 555}
print('union using |:', sport1 |sport2)
print(sport1.union(sport2))

#set Intersection
print('intersection using &:',sport1 & sport2)
print(sport1.intersection(sport2))

#Difference between two sets
print('difference using -:', sport1 - sport2)
print(sport2 - sport1)
print(sport1.difference(sport2))

#set symmetric difference
print('using symmetric ^:', sport1 ^ sport2)
print(sport2 ^ sport1)

union using |: {289, 'Kabbadi', 7, 1000, 555, 'cricket', 'carrom', 9999, 'tennis', 'skipping'}
{289, 'Kabbadi', 7, 1000, 555, 'cricket', 'carrom', 9999, 'tennis', 'skipping'}
intersection using &: {'tennis', 555}
{'tennis', 555}
difference using -: {'Kabbadi', 'cricket', 9999, 7}
{1000, 289, 'skipping', 'carrom'}
{'Kabbadi', 'cricket', 9999, 7}
using symmetric ^: {289, 'Kabbadi', 7, 1000, 'cricket', 'carrom', 9999, 'skipping'}
{7, 'carrom', 9999, 289, 'Kabbadi', 1000, 'cricket', 'skipping'}